/*container-main-nav*/

.container{
	background: url(../img/1484568090.jpg) no-repeat;
	/*height: 2950px;*/
	border-bottom: 200px solid white;
	position: relative;
	z-index: 9;
}
.main-nav{
	width: 1060px;
	height: 423px;
	margin: 0 auto;
	/*background: aquamarine;*/
	position: relative;
}
.dnf-logo a{
	width: 155px;
	height: 135px;
	display: block;
	float: left;
	position: absolute;
	top: 0;
	left: -15px;
}
.nav1{
	width: 828px;
	height: 57px;
	float: right;
	position: relative;
	left: -30px;
	margin-top: 40px;
}
.nav1 li{
	float: left;
}
.nav1 li a{
	margin-right: 71px;
	width: 56px;
	height: 15px;
	display: block;
}
.nav1 ul li:last-child a{
	margin-right: 0;
}
.te1 {
	width: 27px !important;
}	
.nav2{
	width: 823px;
	height: 130px;
	float: right;
	margin-top: 20px;
	position: absolute;
	left: 205px;
	top: 60px;
}
.nav2 ul{
	float: left;
}
.nav2 ul li{
	width: 65px;
	height: 22px;
	line-height: 22px;
}
.nav2 ul li a{
	color: #aeaeae;
}
.nav-list1,.nav-list6{
	margin-right:60px ;
}
.nav-list1 li:last-child a{
	display: block;
	margin-left: 5px;
}
.nav-list2{
	margin-right: 50px;
}
.nav-list3{
	margin-right: 35px;
}
.nav-list4{
	margin-right: 42px;
}
.nav-list1 li:first-child a{
	float: left;
	display: block;
}
.nav-list5{
	text-align: center;
	margin-right: 67px;
}
.nav-list7{
	text-align: center;
}
.icon1{
	width: 12px;
	height: 9px;
	background:url(../img/sprite-icon.png) 0 -43px no-repeat;
	margin: 6px 0 0 5px;
}
.nav-list2 li:nth-child(3) a{
	float: left;
	display: block;
}
.icon2{
	width: 12px;
	height: 9px;
	background:url(../img/sprite-icon.png) 0 -33px no-repeat;
	margin: 7px 0 0 5px;
}
.nav-list3 a,.nav-list3 span,.nav-list6 a,.nav-list6 span{
	float: left;
	display: block;
}
.top-chapter{
	width: 369px;
	height: 141px;
	position: absolute;
	top: 280px;
	left: 347px;
}
.top-chapter a{
	display: block;
	width: 369px;
	height: 141px;
}

#content{
	width: 1060px;
	height: 780px;
	margin: 0 auto;
/*	background: gray;*/
	position: relative;
}	
/*内容区第一个板块*/


.column1{
	width: 1060px;
	height: 270px;
	
}
.download{
	width: 214px;
	height: 277px;
	background: url(../img/sprite-bg.png) no-repeat 0 0;
	float: left;
	margin: -7px 0 0 -14px;
}
.download a{
	display: block;
	float: left;
}
.download a:first-child{
	width: 215px;
	height: 159px;
}
.zhuche{
	width: 100px;
	height: 49px;
	margin-right: 7px;
}
.download a:last-child{
	width: 200px;
	height: 68px;
	margin-left: 5px;
}
.main-top{
	width: 860px;
	height: 270px;
	float: right;
}
.promo{
	float: left;
	position: relative;
	width: 450px;
	height: 270px;
}
.promo .img{
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 5;
}
.promo .img img{
	display: none;
}
.promo .img img:first-child{
	display: block;
}
.order{
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: 6;
}
.order li{
	float: left;
	margin-right: 5px;
}
.ad-btn{
	width: 17px;
	height: 17px;
}
.ad-btn1{
	background: url(../img/sprite-icon.png) no-repeat;
	background-position-x: -626px;
	background-position-y: -84px;
}
.ad-btn2{
	background: url(../img/sprite-icon.png) no-repeat -648px -66px;
}

.ad-btn3{
	background: url(../img/sprite-icon.png) no-repeat -670px -66px;
}

.ad-btn4{
	background: url(../img/sprite-icon.png) no-repeat -692px -66px;
}

.ad-btn5{
	background: url(../img/sprite-icon.png) no-repeat -714px -66px;
}

.ad-btn6{
	background: url(../img/sprite-icon.png) no-repeat -736px -66px;
}

.ad-btn7{
	background: url(../img/sprite-icon.png) no-repeat -758px -66px;
}

.rightsidebar{
	width: 410px;
	height: 270px;
	float: right;
	background-color: #171313;
	position: relative;
}
.main-rightsidebar{
	width: 372px;
	height: 58px;
	padding-left: 20px;
}
.main-rightsidebar li{
	border-top:3px solid  transparent;
	padding: 18px;
}
.main-rightsidebar li{
	float: left;
}
.active{
	border-top: #ec4828 3px solid !important;
}
.main-rightsidebar li a{
	color: #c4b79b;
    font-size: 14px;
    font-weight: bold;
}
.next-rightsidebar{
	width: 372px;
	height: 200px;
	padding: 0 16px 0 22px;
	position: absolute;
	bottom: 10px;
	display: none;
}
.news-more{
	width: 34px;
	height: 17px;
}
.next-rightsidebar li:first-child{
	width: 372px;
	height: 34px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #000;
}
.next-rightsidebar li{
	width: 372px;
	height: 26px;
	font-size: 13px;
	line-height: 26px;
}
.next-rightsidebar li a{
	color: #b8afa2;
}
.next-rightsidebar li span{
	width: 38px;
	height: 26px;
	color: #616161;
    float: right;
}

.next-rightsidebar li:first-child a{
	color: #ec4828;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
}

/*内容区第二个板块*/
.user{
	width: 180px;
	height: 205px;
	float: left;
	padding: 15px 10px 0 10px;
	margin: 30px 0 28px 0;
	background: #383635;
}
.user>a{
	display: block;
    margin: 5px auto 0;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ec4828;
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
}
.user>p{
	margin: 20px 0 0;
    line-height: 24px;
    padding: 18px 0 0 15px;
    border-top: 1px solid #4c4a4a;
    color: #696969;
}
.user ul{
	width: 180px;
	height: 72px;
}
.user ul li{
	padding: 0 0 0 15px;
    line-height: 24px;
    color: #696969;
}
.active-center{
	float: right;
	width: 830px;
	height: 185px;
	margin: 30px 0 0 30px;
	position: relative;
}

/*.modle-tit>span{
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	background: url(../img/sprite-icon.png) no-repeat -296px -71px;
	margin-right: 12px;
}*/
.modle-tit>p{
	float: left;
	width: 161px;
	height: 19px;
	background: url(../img/sprite-icon.png) no-repeat -776px -86px;
}
.modle-tit>a{
	float: right;
	display: block;
	width: 58px;
	height: 17px;
	line-height: 20px;
	position: relative;
	bottom: -7px;
}
.act-hd{
	width: 828px;
	height: 48px;
	margin-left: 2px;
	border-top: 1px solid #e8e8e8;
}
.act-hd li{
	float: left;
	width: 134px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	border-top:3px solid white ;
	margin-right: 3px;
	cursor: pointer;
}
.act-hd li:first-child{
	border-top: 3px solid #EC4828;
}
.act-hd li a{
	color: #333;
    font-size: 14px;
    font-weight: bold;
}
.act_list{
	position: absolute;
	bottom: 0;
	display: none;
}
.act_list li{
	width: 200px;
	height: 90px;
	float: left;
	margin: 0 9px 0 0;	
	position: relative;
}
.act_list li:last-child{
	margin-right: 0;
}
.act_list li p{
	color: #ec4828;
    border: 1px solid #ec4828;
    height: 17px;
    width: 67px;
    text-align: center;
    padding: 0 10px;
    display: block;
    position: absolute;
    left: 16px;
    top: 60px;
}
.act_list li:last-child p{
	width: 40px;
}

/*第三个板块*/

.video{
	float: right;
	margin-top: 30px;
}
.menu-guide{
	height: 232px;
	background:#383635;
	float: left;
	margin: 278px 0 0 -200px;
	position: relative;
}
.menu{
	width: 200px;
	float: left;
}
.menu li{
	width: 100%;
	height: 58px;
	line-height: 58px;
	position: relative;
	border-left: 3px solid #383635;
	cursor: pointer;
}
.menu li p{
	display: block;
    height: 57px;
    padding: 0 13px;
    border-bottom: 1px solid #4a4847;
    margin: 0 13px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}
.menu li:hover p{
	color: #EC4828;
}
.menu li:hover{
	border-left: 3px solid #EC4828;
}
.menu li span{
	float: right;
	width: 4px;
	height: 7px;
	background: url(../img/sprite-icon.png) no-repeat 0 0;
	position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -3px;
}
.menu li:hover span{
	background: url(../img/sprite-icon.png) -5px 0;
}
.right_list1{
	background: white;
	float: left;
	position: absolute;
	left: 200px;
	width:862px;
	height: 232px;
	z-index: 10;
	display: none;
	border: 1px solid #e8e8e8;
    box-shadow: 0px 0px 9px #e8e8e8;
}
.guide{
	margin: 50px 0 0 30px;
}
.guide li{
	float: left;
	margin: 0 0 45px 0;
	width: 104px;
	text-align: center;
}
.guide li s{
	margin: 0 auto 5px auto;
	display: block;
	width: 40px;
	height: 26px;
	background: url(../img/sprite-icon.png) no-repeat -460px 0;
}
.guide li:hover s{
	background-position: -460px -33px;
	transform:rotate(15deg);
	-ms-transform:rotate(15deg); /* IE 9 */
	-webkit-transform:rotate(15deg); /* Safari and Chrome */
}
.datum{
}
.datum_left{
	width: 443px;
	margin-top: 50px;
	margin-left: 15px;
	float: left;
	margin-right: 15px;
}
.datum_left li{
	width: 104px;
	margin: 0 0 45px 0;
	float: left;
	text-align: center;
}
.datum_left li s{
	width: 34px;
	height: 26px;
	display: block;
	margin: 0 auto 5px auto;
	background: url(../img/sprite-icon.png) no-repeat -708px -120px;
}
.datum_left li:hover s{
	background-position: -708px -151px;
	transform:rotate(15deg);
	-ms-transform:rotate(15deg); /* IE 9 */
	-webkit-transform:rotate(15deg); /* Safari and Chrome */
}
.datum_center{
	float: left;
	height: 210px;
	width: 1px;
	background: #8C8C8C;
	margin-top: 10px;
}
.datum_right{
	float: left;
	margin-left: 40px;
}
.datum_right h4{
	margin-top: 15px;
}
.datum_right p{
	margin-top: 7px;
}
.datum_right p a{
	padding-right: 15px;
}
.strategy{
}
.strategy_left{
	float: left;
}
.strategy_left h4{
	margin-bottom: 15px;
}
.strategy_left p{
	margin-bottom: 15px;
}
.strategy_left p a{
	padding-right: 5px;
}
.strategy_center{
	float: left;
	height: 150px;
	width: 1px;
	background: #8C8C8C;
	margin-top: 10px;
	margin-left: 30px;
}
.strategy_right{
	float: left;
	margin-left: 90px;
	margin-top: 50px;
}
.strategy_right li{
	height: 21px;
	width: 100px;
	line-height: 21px;
	
}
.strategy_right a{
	
}
.strategy_right s{
	width: 21px;
    height: 21px;
    display: inline-block;
    float: left;
    margin-right: 15px;
    background: url(../img/sprite-icon.png) no-repeat -708px -179px;
}
.self_help{
}
.self_help_left{
	margin-top: 50px;
	margin-left: 30px;
	width: 443px;
	float: left;
}
.self_help_left li{
	float: left;
	width: 104px;
    margin: 0 0 45px 0;
    text-align: center;
}
.self_help_left li a s{
	margin: 0 auto 5px auto;
	width: 38px;
    height: 18px;
    display: block;
    background: url(../img/sprite-icon.png) no-repeat -368px -65px;
}
.self_help_left li:hover s{
	background-position: -368px -100px;
	transform:rotate(15deg);
	-ms-transform:rotate(15deg); /* IE 9 */
	-webkit-transform:rotate(15deg); /* Safari and Chrome */
}
.self_help_center{
	float: left;
	width: 1px;
	height: 200px;
	background: #8C8C8C;
	margin-top: 15px;
}
.self_help_right{
	float: left;
	width: 350px;
	margin-left: 15px;
	margin-top: 15px;
}

.self_help_right h4{
	margin-bottom: 15px;
}
.self_help_right p{
	margin-bottom: 15px;
}
.self_help_right p a{
	margin-right: 15px;
}
/*视频中心*/
.video{
	position: relative;
	z-index: 9;
}
.video-list{
	float: left;
	position: relative;
}
.video .modle-tit s{
	width: 135px;
	height: 18px;
	display: block;
	background: url(../img/sprite-icon.png) no-repeat -143px -93px;
	float: left;
}
.nav-nav{
	width: 410px;
	height: 48px;
	border-top: 1px solid #e8e8e8;
}
.nav-nav li{
	display: inline-block;
    height: 45px;
    line-height: 45px;
    width: 68px;
    text-align: center;
    border-top: 3px solid white;
}
.nav-nav li a{
	color: #333;
    font-size: 14px;
    font-weight: bold;
}
.nav-nav1{
	float: left;
	margin-left: 2px;
}
.nav-nav2{
	float: right;
}
.te11{
	position: absolute;
	top: 49px;
}
.video-list ul li{
	float: left;
}
.te11 li:first-child{
	margin-right: 10px;
}
#te22 li:first-child{
	margin-right: 10px;
}
#tete .nav-nav1 li{
	border-top: 3px solid #EC4828;
}
.nav-video img{
	display: block;
	width: 200px;
	height: 112px;
}
.video-list>a{
	float: right;
    color: #3f3f3f;
    position: absolute;
    top: 21px;
    right: 0;
}
#tete{
	margin-left: 10px;
}
/*content第二个内容区*/
.content2{
	width: 1060px;
	margin: 0 auto;
}
.plate-left{
	width: 200px;
	float: left;
}

/*每周活动*/
.weekly-activity{
	width: 198px;
	height: 139px;
	border: 1px solid #e8e8e8;
    margin: 31px 0 24px 0;
}
.tit-line h3{
	color: #333;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
 	width: 172px;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
}
.tit-line{
	padding: 0 13px;
	width: 172px;
	height: 37px;
}
.week-act-list ul{
	text-align: center;
    border-bottom: 1px solid #e8e8e8;
    width: 172px;
    height: 37px;
    margin: 0 auto;
}
.act-center{
	width: 198px;
	height: 58px;
}
.week-act-list ul li{
	float: left;
	display: inline-block;
    color: #333;
   	width: 20px;
   	height: 37px;
    font-weight: bold;
    line-height: 37px;
    margin-right: 4px;
}
.week-act-bd{
	padding: 10px 0;
}
.act-footer{
	margin: 0 13px;
    border-top: 1px solid #e8e8e8;
    padding: 13px 0;
}
.act-footer a{
	color: #333;
    margin-left: 20px;
    display: block;
    width: 58px;
    height: 17px;
    float: left;
}
/*快速入口*/
.ingress{
	width: 198px;
	height: 188px;
	border: 1px solid #e8e8e8;
    margin: 0 0 24px 0;
}
.ingress ul{
	padding: 10px;
}
.ingress ul li{
	display: inline-block;
    width: 33%;
    text-align: center;
    margin: 10px 0;
    float: left;
    height: 43px;
}
.ingress ul li a{
	display: block;
    color: #333;
}
.cdk{
	display: block;
	margin: 0 auto;
	margin-bottom: 6px;
	width: 21px;
	height: 21px;
	background: url(../img/sprite-icon.png) no-repeat -12px 0;
}
.heizuan{
	display: block;
	margin: 0 auto;
	padding-bottom: 5px;
	width: 29px;
	height: 22px;
	background: url(../img/sprite-icon.png) no-repeat -34px 0;
}
.online{
	display: block;
	border-bottom: 6px solid white;
	width: 24px;
	margin: 0 auto;
	height: 21px;
	background: url(../img/sprite-icon.png) no-repeat -65px 0;
}
.anquan{
	display: block;
	margin: 0 auto;
	padding-bottom: 5px;
	width: 24px;
	height: 24px;
	background: url(../img/sprite-icon.png) no-repeat -90px 0;
}
.shangchen{
	width: 24px;
	margin: 0 auto;
	height: 22px;
	margin-bottom: 8px;
	display: block;
	background: url(../img/sprite-icon.png) no-repeat -143px 0;
}
.liuyan{
	display: block;
	margin: 0 auto;
	padding-bottom: 5px;
	width: 29px;
	height: 25px;
	background: url(../img/sprite-icon.png) no-repeat -223px 0;
}

/*玩家社区*/

.luntan{
	display: block;
	margin: 0 auto;
	margin-bottom: 7px;
	width: 23px;
	height: 21px;
	background: url(../img/sprite-icon.png) no-repeat -168px 0;
}
.weixin{
	display: block;
	margin: 0 auto;
	padding-bottom: 5px;
	width: 29px;
	height: 23px;
	background: url(../img/sprite-icon.png) no-repeat -192px 0;
}
.tubiao{
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
	width: 26px;
	height: 32px;
	background: url(../img/sprite-icon.png) no-repeat -115px 0;
}
.diantai{
	display: block;
	margin: 0 auto;
	margin-bottom: 6px;
	width: 25px;
	height: 20px;
	background: url(../img/sprite-icon.png) no-repeat -253px 0;
}
.yuanhua{
	display: block;
	margin: 0 auto;
	padding-bottom: 5px;
	width: 23px;
	height: 22px;
	background: url(../img/sprite-icon.png) no-repeat -279px 0;
}
.xinyue{
	display: block;
	margin: 0 auto;
	margin-bottom: 6px;
	width: 29px;
	height: 20px;
	background: url(../img/sprite-icon.png) no-repeat -303px 0;
}
#tete9{
	position: relative;
	top: -9px;
}
.ingress li:hover .left-icon{
	background-position-y: -33px;
}

/*道聚城推荐*/
.groom{
	border: 1px solid #e8e8e8;
    border-bottom: 0;
    width: 198px;
}
.groom .tab-panel{
	height: 240px;
    overflow: hidden;
    width: 198px;
}
.tab-panel2{
	margin: 30px 0 0 32px;
    position: relative;
    height: 240px;
}
.tab-panel2 ul{
	position: absolute;
	top: 0;
}
.tab-panel2 ul li{
	margin: 0 0 30px 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.tab-panel2 ul li>a{
	display: block;
	float: left;
}
.tab-panel2 ul li .describe{
	padding: 0 0 0 60px;
    line-height: 14px;
}
.describe a{
	color: #fff;
    background-color: #383635;
    display: block;
    width: 57px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    margin-top: 3px;
}
.describe p:nth-child(2){
	margin-top: 2px;
}
.shop-hd{
    margin: 20px 0 0 0;
   	width: 198px;
   	height: 17px;
}
.shop-hd li:first-child{
	margin-left: 54px;
}
.shop-hd li{
	float: left;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #d0d0d0;
	margin: 0 9px;
}
.shop-more{
	text-align: center;
    padding: 10px 0 30px 0;
    width: 198px;
    height: 17px;
}
/*合作媒体网站*/
.teamwork{
	padding: 25px 0;
	background-color: #f3f1ed;
	border: 1px solid #e8e8e8;
	position: relative;
}
.teamwork-select h3{
	border: 3px solid #d0d0d0;
    color: #bbb;
    padding: 5px;
    margin: 0 17px;
    position: relative;
}
.teamwork-select h3 span{
	display: block;
    width: 9px;
    height: 7px;
    background-position: 0 -8px;
    position: absolute;
    right: 7px;
    top: 11px;
    background: url(../img/sprite-icon.png) no-repeat 0 -8px;
}
.teamwok-img{
	width: 198px;
	height: 60px;
}
.teamwork-img h3{
	text-align: center;
    padding: 5px 0;
    color: #bbb;
}
.teamwork-img p{
	width: 198px;
	height: 33px;
}
.teamwork-img p a{
	display: block;
	width: 122px;
    height: 33px;
    background: url(../img/sprite-icon.png);
    background-position: 0 -65px;
    margin: 0 auto;
}
.select{
	position:absolute;
    z-index: 999;
    width: 152px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    margin: 0 17px;
    line-height: 20px;
    padding: 5px;
    height: 200px;
    overflow-y: auto;
    bottom: -124px;
    display: none;
}
.select li a{
	color: #bbb;
}
.select li a:hover{
	color: black !important;
}
/*内容2的右板块*/
.plate-right{
	float: right;
	width: 860px;
}
/*职业攻略*/
.strategy{
	width: 830px;
	height: 263px;
	margin: 31px 0 0 30px;
	position: relative;
}
.modle-tit .img-strategy{
	display: block;
	float: left;
	width: 175px;
	height: 20px;
	background: url(../img/sprite-icon.png) no-repeat -142px -135px;
}
.raiders-other{
	height: 20px;
	position: absolute;
	right: 0;
	top: 5px;
}
.raiders-other a{
	display: block;
	padding: 0 6px;
	position: relative;
	float: left;
	margin-right: 22px;
}
.raiders-other a:last-child{
	margin-right: 0 !important;
}
.raiders-other a b{
	position: absolute;
	right: 0;
	top:5px;
}
.raiders-bd{
	width: 830px;
}
.guijian a{
	float: left;
	display: block;
	width: 31px;
	height: 217px;
	background:url(../img/sprite-bg.png) no-repeat -215px -218px;
}
.job-info{
	float: left;
	width: 394px;
	height: 215px;
	border: 1px solid #e8e8e8;
	display: none;
}
.raiders-news{
	padding: 10px 18px 10px 26px;
}
.raiders-news li{
	line-height: 24px;
    height: 24px;
}
.raiders-news li span{
	float: right;
	color: #999;
}
.raiders-links{
	border-top: 1px solid #e8e8e8;
    margin: 0 10px;
    padding: 15px 0 0 5px;
    width: 367px;
    height: 43px;
}
.raiders-links li{
	float: left;
	width: 24%;
	text-align: center;
}
.bg-story s{
	display: block;
	margin: 0 auto 5px;
	width: 18px;
	height: 21px;
	background: url(../img/sprite-icon.png) no-repeat -334px 0;
}
.pf-video s{
	display: block;
	margin: 7px auto 5px;
	width: 19px;
	height: 14px;
	background: url(../img/sprite-icon.png) no-repeat -395px 0;
}
.add s{
	display: block;
	margin: 0 auto 5px;
	width: 19px;
	height: 19px;
	background: url(../img/sprite-icon.png) no-repeat -439px 0;
}
.pf-strategy s{
	display: block;
	margin: 0 auto 5px;
	width: 22px;
	height: 21px;
	background: url(../img/sprite-icon.png) no-repeat -416px 0;
}
.raiders-links .bg-story:hover s{
	background-position: -334px -22px;
}
.raiders-links .pf-video:hover s{
	background-position: -334px -22px;
} 
.raiders-links .pf-strategy:hover s{
	background-position: -334px -22px;
} 
.raiders-links .add:hover s{
	background-position: -334px -22px;
} 
.job-list a{
	width: 31px;
	height: 217px;
	float: left;
} 
.gedou a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -246px 0;
}
.shenqiang a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -276px 0;
}
.mofa a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -306px 0;
}
.nanfa a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -336px 0;
}
.shenzhi a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -366px 0;
}
.nvqiang a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -396px 0;
}
.anye a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -426px 0;
}
.nange a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -456px 0;
}
.heian a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -486px 0;
}
.dizao a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -516px 0;
}
.nvgui a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -546px 0;
}
.shouhu a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -576px 0;
}
.moqiang a{
	display: block;
	background: url(../img/sprite-bg.png) no-repeat -606px 0;
}
/*
 * 品牌专区
 */
.brand{
	float: left;
	width: 830px;
	margin: 50px 0 0 30px;
}
.brand .modle-tit>s{
	width: 142px;
	height: 21px;
	display: block;
	background: url(../img/sprite-icon.png);
	background-position: -142px -113px;
	float: left;
}
.brand>ul{
	margin-top: 30px;
}
.brand>ul li{
	float: left;
	margin-left: 10px;
}
.brand>ul li:first-child{
	margin-left: 0;
}
.novel{
	width: 410px;
	height: 212px;
	float: left;
	position: relative;
}
.novel h3{
	width: 403px;
	height: 19px;
	padding: 20px 0 14px 7px;
	position: relative;
	border-bottom: 1px solid #e8e8e8;
}
.novel h3 a{
	font-weight: 100;
	font-size: 12px;
}
.novel-hd ul{
	width: 410px;
	height: 48px;
}
.novel-hd li{
	float: left;
	width: 126px;
    float: left;
    text-align: center;
    padding: 13px 0;
    cursor: pointer;
    font-weight: bold;
    border-top: 3px solid white;
}
.novel-bd{
	width: 410px;
	height: 110px;
	position: absolute;
	bottom: 0;
	display: none;
}
.novel-bd-lft{
	float: left;
}
.novel-bd-rgt{
	float: left;
	margin-left: 20px;
	line-height: 22px;
}
.cartoon{
	margin-left: 10px;
}
.cartoon-img{
	margin-top: 22px;
}

/*媒体资讯*/

.raiders_news{
	width: 830px;
	height: 246px;
	padding: 30px 0 0 30px;
	float: left;
}
.raiders_news .modle-tit>s{
	float: left;
	width: 137px;
	height: 20px;
	display: block;
	background: url(../img/sprite-icon.png) no-repeat -368px -218px;
}
.raiders-news-clear{
	width: 400px;
	height: 195px;
	float: left;
}
.raiders-news-clear ul{
	padding: 10px 0 0 0;
    height: 165px;
    width: 390px;
}
.raiders-news-clear ul li{
	line-height: 24px;
    height: 24px;
}
.raiders-news-clear ul li span{
	float: right;
	color: #999;
}
.raiders-gg{
	float: left;
	width: 420px;
}
.raiders-gg li{
	float: left;
	width: 200px;
    height: 90px;
    margin: 10px 0 0 10px;
}
/*玩家社区*/
.zone{
	padding: 30px 0 0 30px;
	width: 830px;
	height: 250px;
	float: left;
}
.zone .modle-tit s{
	display: block;
	width: 137px;
	height: 20px;
	background: url(../img/sprite-icon.png) no-repeat -142px -199px;
	float: left;
}
.zone-text{
	width: 410px;
	float: left;
	height: 174px;
	position: relative;
}
.zone-text .more{
	position: relative;
	bottom: -15px;
}
.zone-nav{
	width: 410px;
	height: 46px;
	border-top: 1px solid #e8e8e8;
}
.zone-nav li{
	padding: 3px 9px 0;
	float: left;
	border-top: 3px solid white;
}
.zone-nav li:hover{
	border-top: 3px solid #EC4828;
}
.zone-nav li a{
    font-size: 14px;
    font-weight: bold;
    color: #333;
    line-height: 40px;
}
.zone-list{
	position: absolute;
	bottom: 0;
	display: none;
}
.zone-list ul{
	height: 144px !important;
	width: 410px;
}
.zone-list li{
	height: 24px;
	line-height: 24px;
}
.number-icone1 span{
	display: block;
    float: left;
    width: 16px;
    height: 13px;
    margin: 6px 5px 0 0px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/sprite-icon.png) no-repeat 0 -117px;
}
.number-icone2 span{
	display: block;
    float: left;
    width: 16px;
    height: 13px;
    margin: 6px 5px 0 1px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/sprite-icon.png) no-repeat  0 -131px;
}
.number-icone3 span{
	display: block;
    float: left;
    width: 16px;
    height: 13px;
    margin: 6px 5px 0 1px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/sprite-icon.png) no-repeat  0 -145px;
}
.number-icone4 span{
	display: block;
    float: left;
    width: 16px;
    height: 13px;
    margin: 6px 5px 0 1px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/sprite-icon.png) no-repeat  0 -159px;
}
.number-icone5 span{
	display: block;
    float: left;
    width: 16px;
    height: 13px;
    margin: 6px 5px 0 1px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/sprite-icon.png) no-repeat  0 -173px;
}
.dnf-girl{
	float: left;
    width: 410px;
    border-top: 1px solid #e8e8e8;
    position: relative;
    margin-left: 10px;
}
.dnf-girl h3{
	line-height: 40px;
    display: block;
    width: 74px;
    text-align: center;
    clear: both;
    border-top: 3px solid #ec4828;
    font-weight: bold;
    color: #ec4828;
}
.dnf-girl .more{
	position: absolute;
	right: 0;
	top: 10px;
}
.girl-img li{
	float: left;
	margin: 10px 0 0 10px;
	width: 130px;
    height: 130px;
}
.girl-img li:first-child{
	margin-left: 0;
}

/*赛事专区*/
.event{
	margin: 50px 0 0 30px;
	position: relative;
	float: left;
}
.event .modle-tit s{
	display: block;
	float: left;
	width: 132px;
    height: 20px;
    background: url(../img/sprite-icon.png) no-repeat -142px -178px;
}
.event .modle-tit a{
	position: absolute;
	right: 0;
	top: 5px;
}
.event-tab{
	border-top: 1px solid #e8e8e8;
	width: 567px;
	height: 236px;
	position: relative;
}
.event-hd{
	height: 58px;
}
.event-hd li{
	width: 140px;
    float: left;
    text-align: center;
    padding: 13px 0;
    border-top: 3px solid white;
}
.event-hd li a{
	font-weight: bold;
	font-size: 14px;
}
.event-hd li:hover a{
	color: #EC4828;
}
.event-bd{
	height: 188px;
	position: absolute;
	top: 50px;
	display: none;
}
.tab-panel{
	width: 185px;
    height: 178px;
    float: left;
    text-align: center;
}
.tab-panel a{
	display: inline-block;
    background-color: #383635;
    color: #fff;
    padding: 2px 15px;
}
.event-info{
	padding: 10px 0 0 0;
	width: 380px;
	float: left;
}
.event-info li{
	line-height: 24px;
    height: 24px;
}
.event-live{
	margin: 25px 0 0 0;
    width: 567px;
    height: 113px;
}
.event-live h3{
	border-bottom: 1px solid #e8e8e8;
    padding: 0 0 15px 0;
}
.event-live h3 .more a{
	font-weight: 100;
	font-size: 12px;
}
.match-list{
	margin-top: 10px;
    line-height: 20px;
}
.match-list li{
	margin: 0 0 5px 0;
	width: 100%;
	height: 20px;
}
.match-list span{
	display: inline-block;
}
.t1{
	width: 10%;
}
.t2{
	width: 8%;
}
.t3{
	width: 20%;
}
.t4{
	width: 25%;
}
.t5{
	width: 24%;
}
.t6{
	width: 10%;
	float: right;
}
.t6 a{
	background-color: #ec4828;
    padding: 0 10px;
    color: #fff;
    display: block;
    text-align: center;
}
.t6 a:hover{
	color:  #fff !important;
}
.event-img{
	width: 200px;
    position: absolute;
    right: 0;
    top: 110px;
    overflow: hidden;
}
.event-img li{
	margin-bottom: 22px;
}
.clear{
	clear: both;
}
/*悬挂在浏览器上的模块*/
/*左边的历史版本*/
.edition a{
	width: 52px;
	height: 131px;
	display: block;
	background: url(../img/chapter_nav.png) -1044px 0;
	position: fixed;
	bottom: 10px;
	left: 0;
	z-index: 20;
}
.ewm1{
	position: fixed;
    left: 50%;
    top: 465px;
    margin: 0 0 0 535px;
}
.ewm1 li{
	margin-bottom: 10px;
}
.onc-top{
	width: 40px;
    position: fixed;
    left: 50%;
    bottom: 0px;
    margin: 0 0 0 540px;
}
.onc-top a{
	display: block;
	height: 39px;
	background: url(../img/sprite-icon.png) no-repeat -667px -102px;
}


